<h1> @service.title </h1>

  @service.each do |service, shop|
    <div class="servicecard">
      service.shop.name
      service.shop.address
      service.shop.reviews
      service.shop.description
      shop.service.price
  end
    </div>
