<h1> @service.title </h1>

  @service.each do |service, shop|
    <div class="servicecard">
      service.shop.name
      service.shop.address
      service.shop.reviews
      service.shop.description
      shop.service.price
  end
    </div>

ICI:  <% @services.each do |service| %>
    <ul>
      <li><%= service.title %></li>
      <li><%= service.price %></li>
      <li><%= service.employees %></li>
      <% end %>
    </ul>
