

<h1> @service.title </h1>

<%= link_to "Back", home_path %>

<div class="indexresa">
  <% @services.each do |service| %>
    <div class="prestacard">
      <p><%= service.title %></p>
      <ul>
        <li><%= service.price %></li>
        <li><%= service.employees %></li>
      </ul>
    </div>
  <% end %>
</div>
