<% @shops.each do |shop| %>
  <ul>
    <li><%= shop.name %></li>
    <li><%= shop.address %></li>
    <% shop.services.each do |service| %>
      <li><%= service.title %></li>
      <li><%=  service.price %></li>
    <% end %>
  </ul>
<% end %>
