// Specific CSS for your home-page
.uptitle{
  display: flex;
  justify-content: space-between;

}
.banner{
  background-color: rgb(64, 54, 237);
}
.triptic{
  background-color: white;
}
.giftcard{
  background-color: white;
}
.mobile{
  background-color: white;
}
.orange{
  background-color: rgb(255, 92, 57);
}
