// Specific CSS for your home-page
.uptitle{
  display: flex;
  justify-content: space-between;

}
.banner{
  background-color: rgb(64, 54, 237);
}
.triptic{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
}
.card{
  background-color: white;
  width: 400px;
  height: 300px;
  border: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
.giftcard{
  background-color: white;
}
.mobile{
  background-color: white;
}
.orange{
  background-color: rgb(255, 92, 57);
}
