<div class="homepage">
  <div class="uptitle">
    <h1>Treatwell</h1>
    <p>Client | Shop</p>
  </div>

  navbar ICI :
  COIFFURE | VISAGE | MAINS & PIEDS | ÉPILATION | CORPS | MASSAGE | HOMME | SPA | LE BLOG | IDENTITÉ

  <div class="banner">

    <img src="https://cdn1.treatwell.net/images/view/v2.i6107671.w925.h390.xA371085B.jpg" alt="">


  </div>


</div>
