<h1> Réservation chez @shop.name</h1>

  <p> Détails:</p>

  {Card avec Détails}
  - Photo du shop
  - shop.telephone
  - Prestation  : prix
  - détails prestation
  - durée
  - employé choisi
  - TOTAL PRICE             |annuler réservation|


<%= link_to "mes réservations", reservations_path %>
