

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
.indexshops{
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 12px;
}
.shopcard{
  border-radius: 8px;
  border: black 1px solid;
  background-color: white;
  // height: 80px;
  // width: 200px;
}
